body{
margin:0;
padding:0;
background:#ffd6e7;
font-family:Arial;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.chatContainer{
width:350px;
height:600px;
background:white;
border-radius:25px;
overflow:hidden;
display:flex;
flex-direction:column;
box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.topBar{
background:#ff4d88;
color:white;
padding:15px;
display:flex;
align-items:center;
gap:10px;
}

.topProfile{
width:45px;
height:45px;
border-radius:50%;
object-fit:cover;
background:white;
}

.messages{
flex:1;
padding:15px;
overflow-y:auto;
background:#fff5f8;
}

.messageRow{
display:flex;
align-items:flex-end;
gap:10px;
margin-top:15px;
}

.profilePic{
width:35px;
height:35px;
border-radius:50%;
object-fit:cover;
}

.messageBubble{
background:#ff4d88;
color:white;
padding:10px 15px;
border-radius:20px;
max-width:200px;
word-wrap:break-word;
}

.bottomBar{
display:flex;
padding:10px;
gap:5px;
background:white;
border-top:1px solid #ddd;
}

#messageInput{
flex:1;
padding:10px;
border-radius:20px;
border:1px solid #ccc;
outline:none;
}

button{
background:#ff4d88;
border:none;
color:white;
padding:10px 15px;
border-radius:20px;
cursor:pointer;
}

#profileUpload{
width:80px;
}