body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#ffd6e0;
  font-family:Arial;
}

.container{
  background:white;
  padding:40px;
  border-radius:20px;
  text-align:center;
  width:300px;
  box-shadow:0 0 20px rgba(0,0,0,0.1);
}

h1{
  color:#ff4d88;
}

input{
  width:90%;
  padding:10px;
  margin-top:10px;
  border-radius:10px;
  border:1px solid #ccc;
}

button{
  padding:10px 20px;
  margin-top:15px;
  border:none;
  border-radius:10px;
  background:#ff4d88;
  color:white;
  cursor:pointer;
}

#messages{
  height:200px;
  overflow-y:auto;
  border:1px solid #ddd;
  padding:10px;
  margin-bottom:10px;
  text-align:left;
  border-radius:10px;
}

.messageRow{
display:flex;
align-items:center;
margin-top:10px;
gap:10px;
}

.profilePic{
width:40px;
height:40px;
border-radius:50%;
}

.messageBubble{
background:#ff4d88;
color:white;
padding:10px 15px;
border-radius:20px;
max-width:200px;
word-wrap:break-word;
}